// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html {
  display: block;
  }

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
  display: block;
}

body {
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
}

thead {
      display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

th{
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

label{
  display: block;
}



.field{
    margin-bottom: 10px;
}